<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header>
        <div>

            <div display:inline-block;>
            </div>
            <div class="nav"  display:inline-block; ">
                <span class="ajax" data-url="/Home/HomePage">HOME</span>  &nbsp; ||   &nbsp;
                <span class="ajax" data-url="/About/Index">ABOUT</span>  &nbsp; ||   &nbsp;
                <span class="ajax" data-url="/Work/Index">WORK</span>  &nbsp; ||   &nbsp;
                <span class="ajax" data-url="/Careers/Index">CAREERS</span>  &nbsp; ||   &nbsp;
                <span class="ajax" data-url="/Contact/Index">CONTACT</span>
            </div>
        </div>
    </header>

    <div id="content">
    </div>

    <footer>
        <br />
        <div>
            <div display: inline-block;>
                &copy; Copyright 2014 Forrest Brink
            </div>
            <div class="nav"  display:inline-block; ">
                <span class="ajax" data-url="/Home/HomePage">HOME</span>  &nbsp; ||   &nbsp;
                <span class="ajax" data-url="/About/Index">ABOUT</span>  &nbsp; ||   &nbsp;
                <span class="ajax" data-url="/Work/Index">WORK</span>  &nbsp; ||   &nbsp;
                <span class="ajax" data-url="/Careers/Index">CAREERS</span>  &nbsp; ||   &nbsp;
                <span class="ajax" data-url="/Contact/Index">CONTACT</span>
            </div>
        </div>
</footer>
    @Scripts.Render("~/bundles/jquery")

</body>
</html>